.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .column {
    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
  }
  
  .column:last-child {
    margin-right: 0;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  