/* Body and Typography */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 4;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Header */
header {
	background-color: #ffffff;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 40px;
}

nav ul {
	margin: 30;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 0 10px;
}

nav a {
	display: block;
	padding: 10px;
}

nav a:hover {
	background-color: #ddd;
}

/* Main Content */
main {
	max-width: 800px;
	margin: 20px auto;
	padding: 0 20px;
}

/* Footer */
footer {
	background-color: #bdb9b9db;
	color: #000000;
	padding: 5px;
	text-align: center;

}
body {
    padding: 20;
    margin: 20;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 10;
    padding: 10;
  }
  
  .gallery-item {
    flex: 1 0 calc(33.33% - 0px);
    margin: 10;
    padding: 10;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    height: auto;
  }
  